.theme-color {
	/* BASE COLORS */
	/* text, icons */
	--color-base: #000000;
	/* essential */
	--color-base-essential: #ffffff;
	/* accent */
	--color-base-project: #0056b3;
	/* borders, overlays */
	--color-base-phantom: #000000;
	/* links */
	--color-base-path: #0070f0;
	/* success */
	--color-base-success: #3aa83a;
	/* error */
	--color-base-alert: #ff3333;
	/* warning */
	--color-base-warning: #ff9900;
	/* neutral */
	--color-base-default: #dde3e5;

	/* BACKGROUND COLORS */
	--color-bg-brand: var(--color-base-project);
	--color-bg-border: var(--color-base-phantom);
	--color-bg-stripe: var(--color-base-phantom);
	--color-bg-ghost: var(--color-base-phantom);
	--color-bg-default: var(--color-base-essential);
	/* overlay */
	--color-bg-tone: var(--color-base-phantom);
	/* milky color */
	--color-bg-soft: var(--color-base-essential);
	--color-bg-success: var(--color-base-success);
	--color-bg-alert: var(--color-base-alert);
	--color-bg-warning: var(--color-base-warning);
	--color-bg-normal: var(--color-base-default);
	--color-bg-link: var(--color-base-path);

	/* TEXT COLORS */
	--color-typo-brand: var(--color-base-project);
	--color-typo-primary: var(--color-base);
	--color-typo-secondary: var(--color-base-essential);
	--color-typo-ghost: var(--color-base);
	--color-typo-success: var(--color-base-success);
	--color-typo-alert: var(--color-base-alert);
	--color-typo-warning: var(--color-base-warning);
	--color-typo-link: var(--color-base-path);
}
