body {
	margin: 0;
	padding: 50px 0;
	font-family: sans-serif;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
}

.box {
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;
	padding: var(--container-spaces);
	box-shadow: var(--shadow-content-default);
	border-radius: var(--radius-l);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 135px);
	grid-gap: 25px;
}

.flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.color-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	&__color {
		width: 100px;
		height: 100px;
		box-shadow: var(--shadow-cloud-default);
		border-radius: var(--radius-l);
	}

	&__label {
		margin-top: 25px;
	}

	&_bg {
		&_default {
			background-color: var(--color-bg-default);
		}

		&_normal {
			background-color: var(--color-bg-normal);
		}

		&_brand {
			background-color: var(--color-bg-brand);
		}

		&_border {
			background-color: var(--color-bg-border);
		}

		&_stripe {
			background-color: var(--color-bg-stripe);
		}

		&_ghost {
			background-color: var(--color-bg-ghost);
		}

		&_tone {
			background-color: var(--color-bg-tone);
		}

		&_success {
			background-color: var(--color-bg-success);
		}

		&_warning {
			background-color: var(--color-bg-warning);
		}

		&_alert {
			background-color: var(--color-bg-alert);
		}

		&_link {
			background-color: var(--color-bg-link);
		}
	}

	&_typo {
		&_brand {
			background-color: var(--color-typo-brand);

			+ .color-item__label {
				color: var(--color-typo-brand);
			}
		}

		&_success {
			background-color: var(--color-typo-success);

			+ .color-item__label {
				color: var(--color-typo-success);
			}
		}

		&_warning {
			background-color: var(--color-typo-warning);

			+ .color-item__label {
				color: var(--color-typo-warning);
			}
		}

		&_alert {
			background-color: var(--color-typo-alert);

			+ .color-item__label {
				color: var(--color-typo-alert);
			}
		}

		&_link {
			background-color: var(--color-typo-link);

			+ .color-item__label {
				color: var(--color-typo-link);
			}
		}

		&_link_hover {
			background-color: var(--color-link-hover);

			+ .color-item__label {
				color: var(--color-link-hover);
			}
		}

		&_primary {
			background-color: var(--color-typo-primary);

			+ .color-item__label {
				color: var(--color-typo-primary);
			}
		}

		&_secondary {
			background-color: var(--color-typo-secondary);

			+ .color-item__label {
				color: var(--color-typo-secondary);
			}
		}

		&_ghost {
			background-color: var(--color-typo-ghost);

			+ .color-item__label {
				color: var(--color-typo-ghost);
			}
		}
	}
}

.space-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 50px;

	&__inner {
		background-color: var(--color-bg-ghost);
	}

	&__label {
		margin-top: 25px;
	}

	&_space_3xs {
		.space-item__inner {
			padding: var(--space-3xs);
		}
	}

	&_space_2xs {
		.space-item__inner {
			padding: var(--space-2xs);
		}
	}

	&_space_xs {
		.space-item__inner {
			padding: var(--space-xs);
		}
	}

	&_space_s {
		.space-item__inner {
			padding: var(--space-s);
		}
	}

	&_space_m {
		.space-item__inner {
			padding: var(--space-m);
		}
	}

	&_space_l {
		.space-item__inner {
			padding: var(--space-l);
		}
	}

	&_space_xl {
		.space-item__inner {
			padding: var(--space-xl);
		}
	}

	&_space_2xl {
		.space-item__inner {
			padding: var(--space-2xl);
		}
	}

	&_space_3xl {
		.space-item__inner {
			padding: var(--space-3xl);
		}
	}

	&_space_4xl {
		.space-item__inner {
			padding: var(--space-4xl);
		}
	}

	&_space_5xl {
		.space-item__inner {
			padding: var(--space-5xl);
		}
	}

	&_space_6xl {
		.space-item__inner {
			padding: var(--space-6xl);
		}
	}
}
